.back{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #FAFAF9;
    width: 100%;
}

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;

    width: 368px;
    height: 266px;
    background-color: #FAFAF9;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
}

.img{
    display: flex;
    
    border: 16px solid #FAFAF9;
    width: 336px;
    height: 152px;
}

.img img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: contain;
}

.design{
    display: block;
    background-color: #E6D6FC;
    width: fit-content;
    height: auto;
    border-top: 4px solid #E6D6FC;
    border: 2px solid #E6D6FC;
    margin-left: 16px;
    border-radius: 20px;
}

.design span{
    margin: 16px;

    color: #883AE1;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10px 0.625rem;
    font-style: normal;
}

.text{
    display: flex;
    flex-direction: column;
    
    margin-left: 16px;
    width: 100%;
}

.title{
    text-align: justify;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px 1.125rem;
    font-weight: 900;
    font-style: normal;
}

.subtitle{
    color: #6C727F;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-size: 14px 0.875rem;
    font-weight: 300;
    font-style: normal;
}
